body {
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.warning {
  color: red;
}

.notice {
  color: rgb(186, 12, 47);
  font-weight: bold;
}

.greyify {
  color: rgba(128, 128, 128, 0.9);
}

.primaryColor {
  background-color: #2E7D32 !important;
  border: rgba(0,0,0,0) !important;
  color: white !important;
}

.secondaryColor {
  background-color: #FFC107 !important;
  border: rgba(0,0,0,0) !important;
  color: #1B5E20 !important; 
}

.secondaryColorHover:hover {
  background-color: #d49501 !important
}

.pad {
  padding: 1.5em;
}

.selectablePrimary {
  text-decoration: underline;
  color: #1B5E20;
}

.selectablePrimary:hover {
  cursor: pointer;
  color: #A5D6A7;
}

.selectablePrimaryFlipped {
  text-decoration: underline;
  color: #A5D6A7;
}

.selectablePrimaryFlipped:hover {
  cursor: pointer;
  color: #1B5E20;
}

.selectableSecondary {
  text-decoration: underline;
  color: #FFC107;
}

.selectableSecondary:hover {
  cursor: pointer;
  color: #d49501;
}

.primaryHover:hover {
  background-color: #A5D6A7 !important;
}

.toRight {
  position: absolute;
  right: 10%;
}

.toLeft {
  position: absolute;
  left: 10%;
}

.clearBorder {
  border: rgba(0,0,0,0) !important;
}

.whiteBold {
  color: white;
  font-weight: bold;
}

.leftmost {
  position: 'absolute';
  left: 0;
}

.rightmost {
  position: 'absolute';
  right: 0;
}

.greyHover:hover {
  color: rgba(229, 221, 221, 0.5) !important;
}

.detailParagraphs {
  font-size: 18px;
  padding: 1em 0;
}

.detailHeaders {
  font-size: 22px;
  font-weight: bold;
}

.backgroundImg {
  position: absolute; 
  z-index: 1;
  display: block; 
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.backgroundImgFlex {
  position: absolute; 
  z-index: 1;
  display: block;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frontTextWrapper {
  position: relative;
  z-index: 999;
  top: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailRow {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.detailImg {
  width: 100%;
  aspect-ratio: 1/1;
}

.headerCard {
  border: rgba(0,0,0,0);
  position: relative;
  aspect-ratio: 4/1;
}

.selectableGrey {
  color: rgb(161, 196, 163) !important;
}

.selectableGrey:hover {
  color: white !important;
}

.hugeBtnEffect:hover {
  border-radius: 50px;
}